<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.Sc. in Computer Science </h1>
            <span>The Chinese University of Hong Kong</span>
            <span><address>Hong Kong</address><time>2014 to 2015</time></span><br/>
            <gpa>GPA:3.325/4 Distinguished scholarship
            </gpa>
        </header>
        <p>
            <em>Major Course:Data Mining, Cloud Computing,Machine Learning Theory</em><br>
            <em>Researches: Personal Data Analysis and Implementation</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc. in Computer Science and Technology</h1>
            <span>Beijing Normal University,Zhuhai</span>
            <span><address>Zhuhai,China</address><time>2010 to 2014</time></span><br/>
            <gpa>GPA: 89/100 Top-grade Professional Scholarship
            </gpa>
        </header>
        <p>
        <em>Dissertation: Research on Human Posture Recognition Algorithm and Application        
        based on Microsoft KINECT</em>
        </p>
    </article>
</section>
