<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M.Sc. in Computer Science </h1>
            <span>The Chinese University of Hong Kong</span>
            <span><address>Hong Kong</address><time>2014 to 2015</time></span><br/>
            <gpa>GPA:3.325/4 Distinguished scholarship
            </gpa>
        </header>
        <p>
            <em>Major Course:Data Mining, Cloud Computing, Machine Learning Theory,Social media analytics</em><br>
            <em>Researches: Personal Data Analysis and Implementation</em>
        </p>
    </article>

</section>
