<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Rancher Labs Inc. (An open source container company)
</h1>
            <h1>Software Developer
</h1>
            <span><address>Shenzhen,China</address><time>Dec. 2016 to Mar. 2017 </time></span>
        </header>
        <p>Rancher Flat network project based on SDN (Open source)
        </p>
        <p>Container logging workflow based on ELK
        </p>
        <p>CI/CD workflow based on Jenkins,mocha and docker
        </p>
        <p>Webank private cloud
        </p>
        <p>Hainan Airline group public cloud
        </p>

    </article>
        <article>
        <header>
            <h1>Oracle Asia R&D-Shenzhen
</h1>
            <h1>Software Developer in Enterprise Manager
</h1>
            <span><address>Shenzhen,China</address><time>Jul.2015 to Dec. 2016 </time></span>
        </header>
        <p>Responsible for developing provisioning Oracle database and Grid Infrastructure
        </p>
        <p>Responsible for developing database management system development
        </p>
        <p>Internal toolkit for optimizing the work efficiency 
        </p>
    </article>

</section>
