<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Rancher Labs Inc. (An open source container management  company)
</h1>
            <h1>Software Developer
</h1>
            <span><address>Shenzhen,China & Phoenix,USA</address><time>Dec. 2016 to Mar. 2017 </time></span>
        </header>
        <li>Rancher Flat network project based on SDN (Open source)
        </li>
        <li>Container logging workflow based on ElasticSearch, Fluentd, Kibana
        </li>
        <li>CI/CD workflow based on Jenkins, mocha and docker
        </li>
        <li>Webank private cloud
        </li>
        <li>Hainan Airline group public cloud
        </li>

    </article>
        <article>
        <header>
            <h1>Oracle Asia R&D-Shenzhen
</h1>
            <h1>Software Developer in Enterprise Manager
</h1>
            <span><address>Shenzhen,China</address><time>Jul.2015 to Dec. 2016 </time></span>
        </header>
        <li>Responsible for developing provisioning Oracle database and Grid Infrastructure
        </li>
        <li>Responsible for developing database management system development
        </li>
        <li>Internal toolkit for optimizing the work efficiency 
        </li>
    </article>

</section>
