<section class="thirteen columns">
    <h1>Professional Experience</h1>
    <article>
        <header>
            <h1>Rancher Flat network project</h1>
            <span><address>Rancher Labs,Phoenix,USA</address><time>2016</time></span>
        </header>
        <p>
             based on Container Network Interface, which is a software-defined network. The Flat network implements that containers and its host machines are in the same subnet network.
        </p>
    </article>
    <article>
        <header>
            <h1>Research on Personal Data Analytic and Implement </h1>
            <span><professor>Supervised by Prof. C.S. John</professor><address>The Chinese Univercity of Hong Kong,Hong Kong</address><time>2015</time></span>
        </header>
        <p>
            The project aims to analysis the web blog and post in the social network. The project had implemented the word count, sentiment  analysis,living habit analysis,topic model based on LDA(Latent Dirichlet Allocation) algorithm. 
        </p>
        <p>
            Developing tools and language:Python,MongoDB, Naïve-Bayes, Topic model, web crawler, Django
        </p>
    </article>
        <article>
        <header>
            <h1>Amazon Recommendation System</h1>
            <span><address>The Chinese Univercity of Hong Kong,Hong Kong</address><time>2015</time></span>
        </header>
        <p>
            The project aims to recommand the protaintial purchasing on Amazon online store. The recommandation based on Item-CF(Item-based collaborative filtering) algorithm.
        </p>
    </article>
    <article>
        <header>
            <h1>Research on Human Posture Recognition Algorithm and Application        
        based on Microsoft KINECT </h1>
            <span><address>Beijing Normal University,Zhuhai</address><time>2014</time></span>
        </header>
        <p>
            The research aims to 
        </p>
    </article>
</section>