<section class="thirteen columns">
    <h1>Opensource Gadgets</h1>
    <article>
        <header>
            <h1>SSH Client </h1>
            <span><address>Shenzhen</address><time>2017</time></span>
        </header>
        <p>
        The golang ssh client can connect to the remote server via SSH protocal. This is useful execute a bunch of code on the remote server to initalize the server setup.
        </p>
        <a href="https://github.com/qianlifu12345/remoteServer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></i> Code Repository</a>
    </article>

</section>