<section class="thirteen columns">
    <h1>Professional Experience</h1>
    <article>
        <header>
            <h1>Rancher Flat network project</h1>
            <span><address>
            Rancher Labs Inc.,Phoenix,USA</address><time>2017</time></span>
        </header>
        <p>
             Rancher Flat network project based on Container Network Interface, which is a software-defined network. The Flat network plugin implements the IP allocation for the containers and the container network connectivity. The containers , Virtual Machines and baremetal machines can access to each other and they are in the same subnet and network hierachy.
        </p>
        <li>
            Developing tools and language:Golang, Container Network Interface, Linux network namespace
        </li>
        <a href="https://drive.google.com/open?id=0ByuVTzEdiigKa0hEYjJUOGNCamc" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Rancher Flat Network documentation</a><a href="https://github.com/qianlifu12345/FlatNetworkSetup" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i></i> Flat Network Demo Setup</a>
    </article>
    <article>
        <header>
            <h1>Research on Personal Data Analytics and Implement </h1>
            <span><professor>Supervised by Prof. John C.S. Lui @ </professor><address>The Chinese Univercity of Hong Kong,Hong Kong</address><time>2015</time></span>
        </header>
        <p>
            The project aims to analysis the web blog and post in the online social network. The project had implemented the word count, sentiment  analysis,living habit analysis,topic model based on LDA(Latent Dirichlet Allocation) algorithm. 
        </p>
        <li>
            Developing tools and language:Python,MongoDB, Naïve-Bayes, Topic model, web crawler, Django
        </li>
        <a href="https://drive.google.com/open?id=0ByuVTzEdiigKT3ZaVlQwZ0JpSzg" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Phrase I:Personal data crawling and statistic.doc </a>
        <a href="https://drive.google.com/open?id=0ByuVTzEdiigKUldBWERQUXphNDQ" target="_blank"><i class="fa fa-file-word-o" aria-hidden="true"></i> Phrase II: Research for Topic Model.pdf </a><br>
        <a href="https://github.com/CUHKSocialNetworkProject/pda" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></i> Code Repository</a>
    </article>
        <article>
        <header>
            <h1>Amazon Food Recommendation System</h1>
            <span><address>The Chinese Univercity of Hong Kong,Hong Kong</address><time>2015</time></span>
        </header>
        <p>
            The project aims to recommand the protaintial purchasing on Amazon online store. The recommandation based on Item-CF(Item-based collaborative filtering) algorithm.
        </p>
        <li>
            Developing tools and language:Java,Hadoop, Mahout
        </li>
        <a href="https://youtu.be/0eUwOAgpjKU" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> Demo </a>
        <a href="https://drive.google.com/open?id=0ByuVTzEdiigKempCeDJseDZnMnM" target="_blank"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i></i> Slides</a>
    </article>
    <article>
        <header>
            <h1>Research on Human Posture Recognition Algorithm and Application        
        based on Microsoft KINECT </h1>
            <span><address>Beijing Normal University,Zhuhai</address><time>2014</time></span>
        </header>
        <p>
            Four posture recognition algorithms based on Microsoft Kinect sensor．Four algorithms were developed to define different postures including running, walking, turn left and right, hand up and virtual car wheel. Algorithms are based on Euclidean metric, angles and relative position. Two applications had been made in animation and security monitoring aspect relatively. The algorithms have been tested in applications which have high recognize rate and reliability. The algorithms are capable of consuming-level using.
        </p>
        <li>
            Developing tools and language:C#,Unity 3D
        </li>
        <a href="https://youtu.be/_p5YkBj6Je4" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> Demo </a><a href="https://drive.google.com/open?id=0ByuVTzEdiigKclM4Q0o5MmhQR0U" target="_blank"><i class="fa fa-file-word-o
        " aria-hidden="true"></i> Unpublished Dissertation</a>
    </article>
</section>