<section class="thirteen columns">
    <h1>Programming & Communication Skills</h1>
    <article>
        <header>
            <h1>Project Management</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<colorem>PMP Certification #2588937, Scrum with Kanban</colorem>
        </p>
    </article>
    <article>
        <header>
            <h1>Cloud Platform</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<colorem>AWS, Alicloud</colorem>
        </p>
    </article>
    <article>
        <header>
            <h1>Software engineering</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<colorem>Java, Python</colorem>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<colorem>Golang(Beego), Perl, shell</colorem> &amp; <colorem>Git</colorem>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<colorem>Restful API, Linux Network Namespace</colorem>
        </p>

    </article>
    <article>
        <header>
            <h1>CICD</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<colorem>Kubernetes, Docker</colorem>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<colorem>Jenkins, Gradle</colorem>
        </p>
    </article>
    <article>
        <header>
            <h1>Big-Data Framework</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<colorem>web crawler, Hadoop, MapReduce</colorem>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<colorem>Spark, Hive, Pig, Mahout, Kafka</colorem>
        </p>
    </article>
    <article>
        <header>
            <h1>Database</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<colorem>Oracle</colorem>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<colorem>ElasticSearch, Redis</colorem>
        </p>
    </article>
    <article>
        <header>
            <h1>Storage</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<colorem>Content Addressable Storage</colorem>
        </p>
    </article>

        <article>
        <header>
            <h1>English</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<colorem>Excellent communication skills. IELTS:  Over band: 6.5</colorem>
        </p>

    </article>
</section>